USE [master]
GO
/****** Object:  Database [DemoDemo]    Script Date: 20.04.2026 14:08:10 ******/
CREATE DATABASE [Назовите по своему]

USE [DemoDemo]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 20.04.2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK__Categori__3214EC07467E0091] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 20.04.2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK__Manufact__3214EC07F7ADCC76] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderArticle]    Script Date: 20.04.2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderArticle](
	[Id] [int] NOT NULL,
	[OrderId] [int] NULL,
	[Count] [float] NULL,
	[ProductId] [int] NULL,
 CONSTRAINT [PK__OrderArt__3214EC07A1076A14] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20.04.2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] NOT NULL,
	[Number] [float] NULL,
	[OrderDate] [datetime] NULL,
	[DeliveryDate] [datetime] NULL,
	[PickupPointId] [int] NULL,
	[UserId] [int] NULL,
	[Code] [float] NULL,
	[StatusId] [int] NULL,
 CONSTRAINT [PK__Orders__3214EC074E32F187] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickupPoint]    Script Date: 20.04.2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickupPoint](
	[Id] [int] NOT NULL,
	[Adress] [nvarchar](255) NULL,
 CONSTRAINT [PK__PickupPo__3214EC07B4D766BD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductNames]    Script Date: 20.04.2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductNames](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK__ProductN__3214EC0716EC5506] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 20.04.2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] NOT NULL,
	[Article] [nvarchar](255) NULL,
	[NameId] [int] NULL,
	[Unit] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[SupplierId] [int] NULL,
	[ManufacturerId] [int] NULL,
	[CategoryId] [int] NULL,
	[Discount] [float] NULL,
	[Count] [float] NULL,
	[Description] [nvarchar](255) NULL,
	[ImagePath] [nvarchar](255) NULL,
 CONSTRAINT [PK__Products__3214EC076799F098] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20.04.2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] NOT NULL,
	[Role] [nvarchar](255) NULL,
 CONSTRAINT [PK__Roles__3214EC0793EA9101] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 20.04.2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[Id] [int] NOT NULL,
	[Status] [nvarchar](255) NULL,
 CONSTRAINT [PK__Statuses__3214EC07667AC2DD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 20.04.2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK__Supplier__3214EC07818E0803] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.04.2026 14:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[Role] [int] NULL,
 CONSTRAINT [PK__Users__3214EC0777ADA342] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Женская обувь')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Мужская обувь')
GO
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (3, N'Рос')
GO
INSERT [dbo].[OrderArticle] ([Id], [OrderId], [Count], [ProductId]) VALUES (1, 1, 2, 1)
INSERT [dbo].[OrderArticle] ([Id], [OrderId], [Count], [ProductId]) VALUES (2, 1, 2, 2)
INSERT [dbo].[OrderArticle] ([Id], [OrderId], [Count], [ProductId]) VALUES (3, 2, 1, 3)
GO
INSERT [dbo].[Orders] ([Id], [Number], [OrderDate], [DeliveryDate], [PickupPointId], [UserId], [Code], [StatusId]) VALUES (1, 1, CAST(N'2025-02-27T00:00:00.000' AS DateTime), CAST(N'2025-04-20T00:00:00.000' AS DateTime), 1, 4, 901, 2)
INSERT [dbo].[Orders] ([Id], [Number], [OrderDate], [DeliveryDate], [PickupPointId], [UserId], [Code], [StatusId]) VALUES (2, 2, CAST(N'2022-09-28T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), 11, 1, 902, 2)
INSERT [dbo].[Orders] ([Id], [Number], [OrderDate], [DeliveryDate], [PickupPointId], [UserId], [Code], [StatusId]) VALUES (3, 3, CAST(N'2025-03-21T00:00:00.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), 2, 2, 903, 2)
GO
INSERT [dbo].[PickupPoint] ([Id], [Adress]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[PickupPoint] ([Id], [Adress]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[PickupPoint] ([Id], [Adress]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
GO
INSERT [dbo].[ProductNames] ([Id], [Name]) VALUES (1, N'Ботинки')
INSERT [dbo].[ProductNames] ([Id], [Name]) VALUES (2, N'Туфли')
INSERT [dbo].[ProductNames] ([Id], [Name]) VALUES (3, N'Кроссовки')
GO
INSERT [dbo].[Products] ([Id], [Article], [NameId], [Unit], [Price], [SupplierId], [ManufacturerId], [CategoryId], [Discount], [Count], [Description], [ImagePath]) VALUES (1, N'А112Т4', 1, N'шт.', 4990, 1, 1, 1, 3, 6, N'Женские Ботинки демисезонные kari', N'1.jpg')
INSERT [dbo].[Products] ([Id], [Article], [NameId], [Unit], [Price], [SupplierId], [ManufacturerId], [CategoryId], [Discount], [Count], [Description], [ImagePath]) VALUES (2, N'F635R4', 1, N'шт.', 3244, 2, 2, 1, 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'2.jpg')
INSERT [dbo].[Products] ([Id], [Article], [NameId], [Unit], [Price], [SupplierId], [ManufacturerId], [CategoryId], [Discount], [Count], [Description], [ImagePath]) VALUES (3, N'H782T5', 2, N'шт.', 4499, 1, 1, 2, 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg')
GO
INSERT [dbo].[Roles] ([Id], [Role]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([Id], [Role]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([Id], [Role]) VALUES (3, N'Авторизированный клиент')
GO
INSERT [dbo].[Statuses] ([Id], [Status]) VALUES (1, N'Новый ')
INSERT [dbo].[Statuses] ([Id], [Status]) VALUES (2, N'Завершен')
GO
INSERT [dbo].[Suppliers] ([Id], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Suppliers] ([Id], [Name]) VALUES (2, N'Обувь для вас')
GO
INSERT [dbo].[Users] ([Id], [FullName], [Login], [Password], [Role]) VALUES (1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67', 1)
INSERT [dbo].[Users] ([Id], [FullName], [Login], [Password], [Role]) VALUES (2, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG', 1)
INSERT [dbo].[Users] ([Id], [FullName], [Login], [Password], [Role]) VALUES (3, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ', 1)
GO
/****** Object:  Index [IX_OrderArticle_OrderId]    Script Date: 20.04.2026 14:08:10 ******/
CREATE NONCLUSTERED INDEX [IX_OrderArticle_OrderId] ON [dbo].[OrderArticle]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderArticle_ProductId]    Script Date: 20.04.2026 14:08:10 ******/
CREATE NONCLUSTERED INDEX [IX_OrderArticle_ProductId] ON [dbo].[OrderArticle]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_PickupPointId]    Script Date: 20.04.2026 14:08:10 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_PickupPointId] ON [dbo].[Orders]
(
	[PickupPointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_StatusId]    Script Date: 20.04.2026 14:08:10 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_StatusId] ON [dbo].[Orders]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 20.04.2026 14:08:10 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 20.04.2026 14:08:10 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_ManufacturerId]    Script Date: 20.04.2026 14:08:10 ******/
CREATE NONCLUSTERED INDEX [IX_Products_ManufacturerId] ON [dbo].[Products]
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_NameId]    Script Date: 20.04.2026 14:08:10 ******/
CREATE NONCLUSTERED INDEX [IX_Products_NameId] ON [dbo].[Products]
(
	[NameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_SupplierId]    Script Date: 20.04.2026 14:08:10 ******/
CREATE NONCLUSTERED INDEX [IX_Products_SupplierId] ON [dbo].[Products]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Role]    Script Date: 20.04.2026 14:08:10 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role] ON [dbo].[Users]
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderArticle]  WITH CHECK ADD  CONSTRAINT [FK_OrdersArticle_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderArticle] CHECK CONSTRAINT [FK_OrdersArticle_Orders]
GO
ALTER TABLE [dbo].[OrderArticle]  WITH CHECK ADD  CONSTRAINT [FK_OrdersArticle_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderArticle] CHECK CONSTRAINT [FK_OrdersArticle_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PickupPoints] FOREIGN KEY([PickupPointId])
REFERENCES [dbo].[PickupPoint] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PickupPoints]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Statuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Statuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Manufacturers] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Manufacturers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductNames] FOREIGN KEY([NameId])
REFERENCES [dbo].[ProductNames] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductNames]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRoles] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRoles]
GO
USE [master]
GO
